csvs_cloud_top_500_page_2/
csvs_cloud_top_500_page_3/
csvs_cloud_top_500_page_4/
csvs_cloud_top_500_page_5/
csvs_cloud_top_500_page_6/
csvs_cloud_top_500_page_7/
csvs_cloud_top_500_page_16/
testing/
__pycache__/
companies_list.py
merge_csvs_folder.py
list4